.background-shape {

  position: relative;

  &::before {
    content:'';
    height: 50vw;
    width: 40%;
    background-color: $blue;
    position: absolute;
    z-index: -1;

    @include respond-to('small') {
      max-height: rem(350);
    }

    @include respond-to('large') {
      top: auto;
      bottom:0;
    }
  }

  &--is-right {
    &::before {
      right: 0;
      border-radius: 350px 0 0 350px;
      top: 10%;

      @include respond-to('large') {
        top:auto;
        bottom:0;
      }
    }
  }

  &--is-left {
    &::before {
      left: 0;
      border-radius: 0 350px 350px 0;
      bottom: 35%;

      @include respond-to('small') {
        bottom: 31%;
      }

      @include respond-to('large') {
        bottom:0;
      }
    }
  }

}


@include respond-to('large') {
  .features {
    .background-shape {
      &:before {
        width: 0;
    }
  }
  }
}