.background-shape {

  position: relative;

  &::before {
    content:'';
    height: 50vw;
    width: 40%;
    background-color: $blue;
    border-radius: 350px 0 0 350px;
    position: absolute;
    right: 0;
    top: 15%;
    z-index: -1;

    @include respond-to('small') {
      max-height: rem(350);
    }

    @include respond-to('large') {
      top: auto;
      bottom:0;
    }
  }

}