.button {
  display: inline-block;
  font-size: rem(12);
  border-radius: 5px;
  letter-spacing: 1px;
  box-shadow: 0 2px 5px rgba($blue, .2);
  color:$dark;
  background-color: #f9f9f9;
  border:1px solid #f9f9f9;
  transition: all .3s ease-in-out;
  font-weight: 500;

  &:hover{
    background-color: #fff;
    border-color: $dark;
  }

  &--is-uppercase{
    text-transform: uppercase;
  }

  &--is-red{
    background-color: $red;
    color:#fff;
    border: 1px solid #DF6466;

    &:hover{
      color:$red;
      border-color: $red;
    }
  }

  &--is-blue{
    background-color: $blue;
    color:#fff;
    border: 1px solid #616DB9;

    &:hover{
      color:$blue;
      border-color: $blue;
    }
  }

  &--is-transparent{
    background-color: transparent;
    border: 1px solid #fff;
    color:#fff;
  }

  &--is-small{
    padding: rem(12) rem(33);
  }

  &--is-large {
    padding: rem(16) rem(24);
    font-size: rem(12);

    @include respond-to('small') {
      font-size: rem(14);
    }
  }

  &--is-stapel-md {
    display: block;
    width: 100%;
    &:not(:last-of-type) {
      margin-bottom: rem(24);
    }

    @include respond-to('medium') {
      display: inline-block;
      width: auto;
      &:not(:last-of-type) {
        margin-bottom: 0;
      }
    }
  }

  &--is-block{
    display: block;
  }
}