.hero {

  
  &__text {
    max-width: rem(480);
    margin-top: rem(40);


  }

  &__maintext {
    margin-bottom: rem(32);
  }

  &__image {
    animation: loop 5s ease-in-out infinite;
    @include respond-to('extra-large') {
      position: relative;
      right: -108px;
    }
  }

  &__cta {

    justify-content: center;

    @include respond-to('large') {
      justify-content: flex-start;
    }
    > .button {
      &:not(:last-of-type) {
        margin-right: rem(16);
      }
    }
  }
}