

.prevent-scrolling {
  overflow-y: scroll;
  position: fixed;
}

.is--hidden-background {
  position: absolute;
  visibility: hidden;
  height: 0;
  transition: height .5s ease-in-out;
}

.is--mobile {

  .is--hidden-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    visibility: visible;
    z-index: 500;
    background-color: rgba($dark, .9);
    width: 100%;
    transition: height .3s ease-in-out;
  }

  .logo {
    z-index: 500;
    position: relative;

    g {
      fill:#fff;
    }
  }

  .menu {
    position: fixed;
    z-index: 500;
    top: 12vh;
    width: 100%;
    padding: 0 rem(25);
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;

    .link {
      color: #fff;
      padding:rem(22) 0;
      border-top: 1px solid $light;
      &:nth-of-type(3) {
        border-bottom:1px solid $light;
      }
    }

    .button {
      background-color: transparent;
      border-color: #fff;
      font-size: rem(18);
      display: block;
      margin-top: rem(23);
    }
  }

}

