.link{
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $dark;
  transition: color .3s ease-in-out;

  &:hover{
    color:$red;
  }

  @include respond-to('large') {
    margin-right: rem(44);
    font-size: rem(12);
  }

}

