@keyframes mobileAnimation {
  0% {
    visibility: hidden;
    height: 0;
  }

  100% {
    visibility: visible;
    height: 100vh;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//Cards up

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(10rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.download {
  .animate {
    .card {
      animation: animation 1s ease-in-out forwards;
    }
  }
}

@for $i from 1 through 3 {
  .animate .card:nth-of-type(#{$i}) {
    -webkit-animation-delay:(#{$i*0.2s}); 
    animation-delay:(#{$i*0.2s}); 
  }
}

//Hero Image Jumping

@keyframes loop {
  0%, 99% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

//Growing Background Shape

@keyframes grow {
  0% {
    width: 0;
  }

  100% {
    width: 40%;
  }
}

.animate {
  &.background-shape {
    &::before {
      animation: grow 1s ease-in-out forwards;
    }
  }
}