@keyframes mobileAnimation {
  0% {
    visibility: hidden;
    height: 0;
  }

  100% {
    visibility: visible;
    height: 100vh;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}