.flex {
  display: flex;

  &--fd-col-lg {
    flex-direction: column;

    @include respond-to('large') {
      flex-direction: row;
    }
  }

  &--fd-col-md {
    flex-direction: column;

    @include respond-to('medium') {
      flex-direction: row;
    }
  }

  &--fd-col-sm {
    flex-direction: column;

    @include respond-to('small') {
      flex-direction: row;
    }
  }

  &--jc-sb{
    justify-content: space-between;
  }

  &--jc-c {
    justify-content: center;
  }

  &--ai-c{
    align-items: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--gap {
    > * {
      margin: rem(32) 0 0 rem(32);
    }

    display: inline-flex;
    margin: rem(-32) 0 0 rem(-32);
    width: calc(100% + 32px)
  }



  //Order
  &--order-1-large {
    @include respond-to('large') {
      order: 1;
    }
  }

  &--order-2-large {
    @include respond-to('large') {
      order: 2;
    }
  }
}