*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: rem(18);
  line-height: 1.4;
  font-family: 'Rubik', sans-serif;
  color: $light;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

img {
  width: 100%;
}

.container{
  margin: 0 auto;
  padding: rem(35) rem(25);

  @include respond-to('large') {
    padding: 0;
  }

  &--is-wide {
    @extend .container;
    max-width: rem(1112);
  }

  &--is-small {
    @extend .container;
    max-width: rem(543);
  }
}

.section {
  margin:0 0 rem(123);
  @include respond-to('medium') {
    margin:0 0 rem(149);
  }
}

.screen-reader-only {
  &:not(:focus),
  &:not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}